	body {
		padding: 1%; 
		margin: 1%;
	}
	header {
		background: #C0C0C0; /* Silver */
		background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
		background-repeat: no-repeat;
		background-size: 100%; 
		padding: 1%;
	}
  header h1{
    text-align:center;
  }
.active {
		background: #FFFFFF; /* White */
	}
nav{
  text-align:center;
}
nav>a{
  background-color:rgba(218,234,213,0.60);
  color:black;
  display:inline-block;
  text-decoration:none;
  width: 200px;
  margin: 20px;
	padding: 5px;
  font-size: 125%;
  border-radius:4px;
}
nav>a.hover{
	opacity: 1;
}
nav>a.active{
	opacity: 1;
}

img{
	display: block;
	margin-bottom: 15px;
	height: 150px;
	width: 220px;
	padding: 3px;
	border:solid 2px #000000;
}
.left{
	background: #767613;
	margin: 0px 5px 5px 5px;
	padding: 7px;
	float: left;
}.right {
	display: inline-block;
	width: 78%	;
	float: left;
}
h2{
	font-family: serif;
	font-size: 150%;
	color: #000000;
}
main{
	display: inline-block;
	margin:0px 5px 5px 5px;}
body{
	padding: 5px;
	margin: 5px;}
table,th,td{

	border: 3px solid #ffffff;
}
table{
 
  border-collapse:collapse;
  width:850px;
  table-layout:auto;
  font-family:"Arial";
	font-size: 15px;
	line-height: 150%;
  margin: 0 auto;
  text-align:center;
  
}

	th {
   
		background: #808000; /* Olive */
		color: #FFF8DC; /* White */
	    border: 2px solid #FFFFFF; /* White */
   		background-repeat: no-repeat;
	}
td{
	color: #000000;
}
tr td{
  color: #000000;
  opacity:0.8;
	background-color:#ebf8db;

}
tr.header{
	opacity: 1;
}
th{
	border-top-left-radius:7px;
	border-top-right-radius:7px; 
	background: linear-gradient(#d8e4a8,#53650c);
	color: #ffffff;
}

tr:hover{
	background-color:black;
}
th:first-child, td:first-child{
	text-align: left;
}


